<h1>レコード編集</h1>

<%= render 'form', record: @record %>

<<<<<<< HEAD
<%= link_to '編集', @record %> |
=======
<%= link_to '詳細', @record %> |
>>>>>>> 9b8d852e9723b2131ca956c2803e6a6baced8a98
<%= link_to '戻る', records_path %>
